In [1]:
# Import modules
import pandas as pd
import os

In [2]:
# CSV file location
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [3]:
# Create data frame for CSV
hop_df = pd.read_csv(csvpath)

In [4]:
# Find total number of unique players
player_count = hop_df['SN'].nunique()

# Put total number of players into a dataframe and display
total_number_players = pd.DataFrame({'Total Players' : player_count}, index=[0])
total_number_players

   Total Players
0            576

In [5]:
# Number of Unique Items
unique_items = hop_df["Item ID"].nunique()

# Average Purchase Price
avg_purchase_price = hop_df["Price"].mean()

# Total Number of Purchases
number_of_purchases = hop_df["Purchase ID"].count()

# Total Revenue
total_revenue = hop_df["Price"].sum()

#Put calculations into a dataframe
total_number_players = pd.DataFrame({'Number of Unique Items': unique_items,
                                     'Average Price': avg_purchase_price,
                                     'Number of Purchases': number_of_purchases,
                                     'Total Revenue': total_revenue}, index=[0])

# Format currency columns
total_number_players["Total Revenue"] = total_number_players["Total Revenue"].astype(float).map("${:,.2f}".format)
total_number_players["Average Price"] = total_number_players["Average Price"].astype(float).map("${:,.2f}".format)

# Display dataframe
total_number_players

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [6]:
# Create new data frame that is grouped by Gender
players_by_gender = hop_df.groupby('Gender')

# Find unique players grouped by gender
unique_players_by_gender = players_by_gender['SN'].nunique()

# Find percentage of players grouped by gender
percentage_players_by_gender = (unique_players_by_gender/player_count * 100)

# Create dataframe with calculations
players_by_gender_summary = pd.DataFrame({'Total Count': unique_players_by_gender,
                                          'Percentage of Players': percentage_players_by_gender})

# Format percentage column
players_by_gender_summary["Percentage of Players"] = players_by_gender_summary["Percentage of Players"].astype(float).map("{:,.2f}%".format)

# Display data fram descending by Total Count
players_by_gender_summary.sort_values(['Total Count'], ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [7]:
# Find number of purchases by gender
purchase_count_gender = players_by_gender['Purchase ID'].count()

# Find average purchase price by gender
avg_purchase_gender = round(players_by_gender['Price'].mean(), 2)

# Find sum of all purchases by gender
total_purchase_val_gender = players_by_gender['Price'].sum()

# Find the average total per person by gender
avg_purchase_total_gender = total_purchase_val_gender/unique_players_by_gender

# Create new data fram for calculations
purchasing_analysis_gender = pd.DataFrame({'Purchase Count': purchase_count_gender,
                                          'Average Purchase Price': avg_purchase_gender,
                                          'Total Purchase Value': total_purchase_val_gender,
                                          'Avg Total Purchase per Person': avg_purchase_total_gender})

# Format currency columns
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchasing_analysis_gender["Avg Total Purchase per Person"] = purchasing_analysis_gender["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Display data frame
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
# Establish bins for ages
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create group names for bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create new data frame with Age Group column
hop_df["Age Group"] = pd.cut(hop_df["Age"], bins, labels=group_names)
age_group = hop_df.groupby('Age Group')

# Calculate the unique players by Age Group and percentages by Age Group
age_count = age_group["SN"].nunique()
age_percentage = ((age_count/player_count)*100)

# Create a summary data frame to hold the results
age_demographics = pd.DataFrame({'Total Count': age_count,
                                 'Percentage of Players': age_percentage})

# Format percentage column
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].astype(float).map("{:,.2f}%".format)

# Display Age Demographics Table
age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [9]:
# Purchase Count
age_purchase_count = age_group['SN'].count()

# Average Purchase Price
age_purchase_price = age_group['Price'].mean()

# Total Purchase Value
age_total_purchase_val = age_group['Price'].sum()

# Average Purchase Total per Person by Age Group
age_avg_purchase = (age_total_purchase_val/age_count)

# Create a data frame for the calculations
purchasing_analysis_age = pd.DataFrame({'Purchase Count': age_purchase_count,
                                        'Average Purchase Price': age_purchase_price,
                                        'Total Purchase Price': age_total_purchase_val,
                                        'Avg Total Purchase per Person': age_avg_purchase})

# Format currency columns
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_age["Total Purchase Price"] = purchasing_analysis_age["Total Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Display data frame
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
# Identify the the top 5 spenders in the game by total purchase value

# Create new data frame grouped by Screen Name
top_spenders_df = hop_df.groupby('SN')

# Purchase Count
spender_purchase_count = top_spenders_df['Purchase ID'].count()

# Average Purchase Price
spender_avg = top_spenders_df['Price'].mean()

# Total Purchase Value
spender_total = top_spenders_df['Price'].sum()

# Create data frame for calculations
top_spenders_summary = pd.DataFrame({'Purchase Count': spender_purchase_count,
                                     'Average Purchase Price': spender_avg,
                                     'Total Purchase Value': spender_total})

# Create variable and sort
top_spenders_sorted = top_spenders_summary.sort_values('Total Purchase Value', ascending=False).head()

# Formate currency columns
top_spenders_sorted["Average Purchase Price"] = top_spenders_sorted["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_sorted["Total Purchase Value"] = top_spenders_sorted["Total Purchase Value"].map("${:,.2f}".format)

# Display top 5 spenders
top_spenders_sorted

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [11]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = hop_df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
top_items = items.groupby(['Item ID','Item Name'])

# Purchase Count
top_item_count = top_items['Price'].count()

# Total Purchase Value
top_item_purchase_val = top_items['Price'].sum()

# Item Price
top_item_price = (top_item_purchase_val/top_item_count)

# Create a summary data frame to hold the results
top_items_table = pd.DataFrame({'Purchase Count': top_item_count,
                                'Item Price': top_item_price,
                                'Total Purchase Value': top_item_purchase_val})

# Format currency columns
top_items_table["Item Price"] = top_items_table["Item Price"].astype(float).map("${:,.2f}".format)
top_items_table["Total Purchase Value"] = top_items_table["Total Purchase Value"].astype(float).map("${:,.2f}".format)


# Sort the purchase count column in descending order and display top 5
top_items_table.sort_values('Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [12]:
# Group by Item ID and Item Name.
top_value = items.groupby(['Item ID','Item Name'])

# Purchase Count
top_value_count = top_value['Price'].count()

# Total Purchase Value
top_value_purchase_val = top_value['Price'].sum()

# Item Price
top_value_price = (top_value_purchase_val/top_value_count)

# Sort the above table by total purchase value in descending order
top_value_table = pd.DataFrame({'Purchase Count': top_value_count,
                                'Item Price': top_value_price,
                                'Total Purchase Value': top_value_purchase_val})

# Add variable for data frame displaying top 5 before formating so it sorts correctly
top_value_sorted = top_value_table.sort_values('Total Purchase Value', ascending=False).head()

# Format currency columns
top_value_sorted["Item Price"] = top_value_sorted["Item Price"].map("${:,.2f}".format)
top_value_sorted["Total Purchase Value"] = top_value_sorted["Total Purchase Value"].map("${:,.2f}".format)

#Display data frame
top_value_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80