In [2]:
#import modules
import pandas as pd
import os

In [3]:
#Where my csv is at
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [7]:
hop_df = pd.read_csv(csvpath)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [45]:
# Total Number of Players
# player_count_df = hop_df.groupby('SN')['SN'].nunique()
player_count = hop_df['SN'].value_counts()
total_number_players = pd.DataFrame({'Total Number of Players' : player_count}, index=[0])
total_number_players

   Total Number of Players
0                      NaN

In [50]:
# Number of Unique Items

# unique_items = hop_df["Item ID"].unique()
unique_items = hop_df.groupby['Item ID']
unique_items_df = unique_items_df.nunique()
unique_items

TypeError: 'method' object is not subscriptable

In [31]:
# Average Purchase Price

avg_purchase_price = hop_df["Price"].mean()
avg_purchase_price

# Total Number of Purchases

number_of_purchases = hop_df[["Purchase ID"]].count()

# Total Revenue
total_revenue = hop_df["Price"].sum()
print(total_revenue)
print(avg_purchase_price)

2379.77
3.050987179487176

In [47]:

gender_grouped_df = hop_df.groupby('Gender')
gender_grouped_df

# # Percentage and Count of Male Players
# percentage_male = 
# count_male = 

# # Percentage and Count of Female Players
# percentage_female =
# count_female = 

# # Percentage and Count of Other / Non-Disclosed
# percentage_other = 
# count_other =

In [ ]:
# The below each broken by gender

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

In [ ]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value