In [1]:
# Import modules
import pandas as pd
import os

In [2]:
# CSV file location
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [3]:
hop_df = pd.read_csv(csvpath)

In [4]:
# Total Number of Players
player_count = hop_df['SN'].nunique()

total_number_players = pd.DataFrame({'Total Players' : player_count}, index=[0])
total_number_players

   Total Players
0            576

In [5]:
# Number of Unique Items
unique_items = hop_df["Item ID"].nunique()

# Average Purchase Price
avg_purchase_price = hop_df["Price"].mean()

# Total Number of Purchases
number_of_purchases = hop_df["Purchase ID"].count()

# Total Revenue
total_revenue = hop_df["Price"].sum()

total_number_players = pd.DataFrame({'Number of Unique Items': unique_items,
                                     'Average Price': avg_purchase_price,
                                     'Number of Purchases': number_of_purchases,
                                     'Total Revenue': total_revenue}, index=[0])
total_number_players

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [6]:
players_by_gender = hop_df.groupby('Gender')

unique_players_by_gender = players_by_gender['SN'].nunique()

percentage_players_by_gender = (unique_players_by_gender/player_count * 100)

players_by_gender_summary = pd.DataFrame({'Total Count': unique_players_by_gender,
                                          'Percentage of Players': percentage_players_by_gender})

players_by_gender_summary.sort_values(['Total Count'], ascending = False)

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [7]:
# The below each broken by gender

purchase_count_gender = players_by_gender['Purchase ID'].count()
avg_purchase_gender = round(players_by_gender['Price'].mean(), 2)
total_purchase_val_gender = players_by_gender['Price'].sum()
avg_purchase_total_gender = total_purchase_val_gender/unique_players_by_gender

purchasing_analysis_gender = pd.DataFrame({'Purchase Count': purchase_count_gender,
                                          'Average Purchase Price': avg_purchase_gender,
                                          'Total Purchase Value': total_purchase_val_gender,
                                          'Avg Total Purchase per Person': avg_purchase_total_gender})

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.468395
Male,652,3.02,1967.64,4.065372
Other / Non-Disclosed,15,3.35,50.19,4.562727

In [8]:
youngest = hop_df['Age'].min()
oldest = hop_df['Age'].max()

# Establish bins for ages
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
hop_df["Age Group"] = pd.cut(hop_df["Age"], bins, labels=group_names)
age_group = hop_df.groupby('Age Group')
age_count = age_group["SN"].nunique()
age_percentage = ((age_count/player_count)*100)

# Create a summary data frame to hold the results
age_demographics = pd.DataFrame({'Total Count': age_count,
                                 'Percentage of Players': age_percentage})

# Optional: round the percentage column to two decimal points


# Display Age Demographics Table
age_demographics

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

In [9]:
# Purchase Count
age_purchase_count = age_group['SN'].count()

# Average Purchase Price
age_purchase_price = age_group['Price'].mean()

# Total Purchase Value
age_total_purchase_val = age_group['Price'].sum()

# Average Purchase Total per Person by Age Group
age_avg_purchase = (age_total_purchase_val/age_count)

#Purchasing Analysis (Age)
purchasing_analysis_age = pd.DataFrame({'Purchase Count': age_purchase_count,
                                        'Average Purchase Price': age_purchase_price,
                                        'Total Purchase Price': age_total_purchase_val,
                                        'Avg Total Purchase per Person': age_avg_purchase})
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [10]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# SN
top_spenders_df = hop_df.groupby('SN')

# Purchase Count
spender_purchase_count = top_spenders_df['Purchase ID'].count()

# Average Purchase Price
spender_avg = top_spenders_df['Price'].mean()

# Total Purchase Value
spender_total = top_spenders_df['Price'].sum()

# spender_total.sort_values('Price', ascending=False)
top_spenders = pd.DataFrame({'Purchase Count': spender_purchase_count,
                             'Average Purchase Price': spender_avg,
                             'Total Purchase Value': spender_total})

top_spenders.sort_values('Total Purchase Value', ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [11]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = hop_df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
top_items = items.groupby(['Item ID','Item Name'])

# Purchase Count
top_item_count = top_items['Price'].count()

# Total Purchase Value
top_item_purchase_val = top_items['Price'].sum()

# Item Price
top_item_price = (top_item_purchase_val/top_item_count)

# Create a summary data frame to hold the results
top_items_table = pd.DataFrame({'Purchase Count': top_item_count,
                                'Item Price': top_item_price,
                                'Total Purchase Value': top_item_purchase_val})


# Sort the purchase count column in descending order
top_items_table.sort_values('Purchase Count', ascending=False)

# Optional: give the displayed data cleaner formatting

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
...,...,...,...,...
104,Gladiator's Glaive,1,1.93,1.93
23,Crucifer,1,1.99,1.99
180,Stormcaller,1,3.36,3.36
91,Celeste,1,4.17,4.17
134,Undead Crusader,1,4.50,4.50

In [12]:
 # Sort the above table by total purchase value in descending order
top_items_table.sort_values('Total Purchase Value', ascending=False)

# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
...,...,...,...,...
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75