In [1]:
#import modules
import pandas as pd
import os

In [2]:
#Where my csv is at
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [3]:
hop_df = pd.read_csv(csvpath)

In [4]:
# Total Number of Players
# player_count_df = hop_df.groupby('SN')['SN'].nunique()
unique_players = hop_df['SN'].unique()
player_count = len(unique_players)
# total_number_players = pd.DataFrame({'Total Number of Players' : player_count}, index=[0])

In [5]:
# Number of Unique Items
unique_items = hop_df["Item ID"].unique()
unique_items_count = len(unique_items)
unique_items_count

183

In [6]:
# Average Purchase Price
avg_purchase_price = hop_df["Price"].mean()
avg_purchase_price

# Total Number of Purchases
number_of_purchases = hop_df["Purchase ID"].count()

# Total Revenue
total_revenue = hop_df["Price"].sum()

In [7]:
# Percentage and Count of Male Players
male_players_df = hop_df.loc[hop_df['Gender'] == 'Male']
unique_male_players = male_players_df["SN"].unique()
count_male = len(unique_male_players)
percentage_male = (count_male/player_count)*100

# Percentage and Count of Female Players
female_players_df = hop_df.loc[hop_df['Gender'] == 'Female']
unique_female_players = female_players_df["SN"].unique()
count_female = len(unique_female_players)
percentage_female = (count_female/player_count)*100


# # Percentage and Count of Other / Non-Disclosed
other_players_df = hop_df.loc[hop_df['Gender'] == 'Other / Non-Disclosed']
unique_other_players = other_players_df["SN"].unique()
count_other = len(unique_other_players)
percentage_other = (count_other/player_count)*100

In [8]:
# The below each broken by gender

# Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per Person by Gender
male_purchase_count = male_players_df['Purchase ID'].count()
male_avg_purchase_price = round(male_players_df['Price'].mean(), 2)
male_total_purchase_val = male_players_df['Price'].sum()
male_avg_total_purchase = (male_total_purchase_val/count_male)

#Female
female_purchase_count = female_players_df['Purchase ID'].count()
female_avg_purchase_price = round(female_players_df['Price'].mean(), 2)
female_total_purchase_val = female_players_df['Price'].sum()
female_avg_total_purchase = (female_total_purchase_val/count_female)

#Other
other_purchase_count = other_players_df['Purchase ID'].count()
other_avg_purchase_price = round(other_players_df['Price'].mean(), 2)
other_total_purchase_val = other_players_df['Price'].sum()
other_avg_total_purchase = (other_total_purchase_val/count_other)

In [9]:
youngest = hop_df['Age'].min()
oldest = hop_df['Age'].max()

# Establish bins for ages
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
hop_df["Age Group"] = pd.cut(hop_df["Age"], bins, labels=group_names)
age_group = hop_df.groupby('Age Group')
age_count = age_group["SN"].nunique()
age_percentage = ((age_count/player_count)*100)

# Create a summary data frame to hold the results


# Optional: round the percentage column to two decimal points


# Display Age Demographics Table        


# Purchase Count
age_purchase_count = age_group['Purchase ID'].count()

# Average Purchase Price
age_purchase_price = age_group['Price'].mean()

# Total Purchase Value
age_total_purchase_val = age_group['Price'].sum()

# Average Purchase Total per Person by Age Group
age_avg_purchase = (age_total_purchase_val/age_purchase_count)

In [10]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# SN
top_spenders = hop_df.groupby('SN')

# Purchase Count
spender_count = top_spenders.count()

# Average Purchase Price
spender_avg = top_spenders['Price'].mean()

# Total Purchase Value
spender_total = top_spenders['Price'].sum().reset_index()
spender_total.sort_values('Price', ascending=False)

              SN  Price
360    Lisosia93  18.96
246  Idastidru52  15.45
106   Chamjask73  13.83
275       Iral74  13.62
281  Iskadarya95  13.10
..           ...    ...
257  Ililsasya43   1.02
277     Irilis75   1.02
32       Aidai61   1.01
117   Chanirra79   1.01
54         Alo38   1.00

[576 rows x 2 columns]

In [11]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = hop_df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
top_items = items.groupby(['Item ID','Item Name'])

# Purchase Count
top_item_count = top_items['Price'].count()

# Total Purchase Value
top_item_purchase_val = top_items['Price'].sum()

# Item Price
top_item_price = (top_item_purchase_val/top_item_count)

# Create a summary data frame to hold the results
top_items_table = pd.DataFrame({'Purchase Count': top_item_count,
                                'Item Price': top_item_price,
                                'Total Purchase Value': top_item_purchase_val})


# Sort the purchase count column in descending order


# Optional: give the displayed data cleaner formatting

In [ ]:
 # Sort the above table by total purchase value in descending order


# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame

# Identify the 5 most profitable items by total purchase value, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value