In [58]:
#import modules
import pandas as pd
import numpy as np
import os

In [2]:
#Where my csv is at
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [6]:
hop_df = pd.read_csv(csvpath)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [41]:
# Total Number of Players
# player_count_df = hop_df.groupby('SN')['SN'].nunique()
unique_players = hop_df['SN'].unique()
player_count = len(unique_players)
# total_number_players = pd.DataFrame({'Total Number of Players' : player_count}, index=[0])
player_count

576

In [13]:
# Number of Unique Items

unique_items = hop_df["Item ID"].unique()
unique_items_count = len(unique_items)
unique_items_count

183

In [16]:
# Average Purchase Price

avg_purchase_price = hop_df["Price"].mean()
avg_purchase_price

# Total Number of Purchases

number_of_purchases = hop_df["Purchase ID"].count()

# Total Revenue
total_revenue = hop_df["Price"].sum()

780
3.050987179487176
2379.77

In [53]:
# Percentage and Count of Male Players
male_players_df = hop_df.loc[hop_df['Gender'] == 'Male']
unique_male_players = male_players_df["SN"].unique()
count_male = len(unique_male_players)
percentage_male = (count_male/player_count)*100

# Percentage and Count of Female Players
female_players_df = hop_df.loc[hop_df['Gender'] == 'Female']
unique_female_players = female_players_df["SN"].unique()
count_female = len(unique_female_players)
percentage_female = (count_female/player_count)*100


# # Percentage and Count of Other / Non-Disclosed
other_players_df = hop_df.loc[hop_df['Gender'] == 'Other / Non-Disclosed']
unique_other_players = other_players_df["SN"].unique()
count_other = len(unique_other_players)
percentage_other = (count_other/player_count)*100

1.9097222222222223

In [72]:
# The below each broken by gender

# Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per Person by Gender
male_purchase_count = male_players_df['Purchase ID'].count()
male_avg_purchase_price = round(male_players_df['Price'].mean(), 2)
male_total_purchase_val = male_players_df['Price'].sum()
male_avg_total_purchase = (male_total_purchase_val/count_male)

#Female
female_purchase_count = female_players_df['Purchase ID'].count()
female_avg_purchase_price = round(female_players_df['Price'].mean(), 2)
female_total_purchase_val = female_players_df['Price'].sum()
female_avg_total_purchase = (female_total_purchase_val/count_female)

#Other
other_purchase_count = other_players_df['Purchase ID'].count()
other_avg_purchase_price = round(other_players_df['Price'].mean(), 2)
other_total_purchase_val = other_players_df['Price'].sum()
other_avg_total_purchase = (other_total_purchase_val/count_other)

4.5627272727272725

In [94]:
youngest = hop_df['Age'].min()
oldest = hop_df['Age'].max()

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
        
# might need to remove one group
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Purchase Count
age_bins = pd.cut(hop_df["Age"], bins, labels=group_names).head(10)

# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    20-24
8    20-24
9    35-39
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value